{% extends 'base.html' %}

{% load static %}

{% block head %}
    <style>
        .big-container {
            margin: 20px auto;
        }

        #logo:hover {
            animation: rotation 0.6s infinite linear;
        }

        @keyframes rotation {
            from {
                transform: rotate(360deg);
            }
            to {
                transform: rotate(0deg);
            }
        }

        @media screen and (max-width: 360px) {
            #logo {
                width: 1.5em;
                margin-bottom: -0.3em;
                float: none;
            }
        }

    </style>
{% endblock %}

{% block title %} Luck Core | {{ user.username }} {% endblock %}

{% block main %}
    <div>
        <img src="{% static '/img/background.png' %}"
                 style="filter: blur(15px); position: fixed; width: 100%; object-fit: cover">
        <div class="container big-container">
            <div class="row">
                <span class="col-md-3"></span>
                <div class="col-md-6">
                    <div class="card" style="box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);">
                            <div style="position: absolute; top: 0; right: 0;">
                                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast" data-delay="2000">
                                  <div class="toast-header">
                                    <strong class="mr-auto">Tip</strong>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="toast-body">
                                    分享链接已复制到剪贴板
                                  </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <img src="{% static 'safari-pinned-tab.svg' %}"
                                         id="logo"
                                         class="col-sm-3 height: 100%; width: 100%;"
                                         alt="misfortune">
                                    <div class="col-sm-9 card-title" style="padding: 20px">
                                        <strong>
                                            {{ activity.name }}
                                        </strong>
                                        <p>
                                            {% autoescape off %}
                                                {{ activity.info }}
                                            {% endautoescape %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {% elif message.tags == "info" %}
                                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {% elif message.tags == "warning" %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    {% endif %}
                                    {{ message }}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                {% endfor %}
                                <table class="table table-hover">
                                  <tbody>
                                  {% for record in records %}
                                      {% if record.by_user == user.username %}
                                          <tr class="table-success">
                                      {% else %}
                                          <tr>
                                      {% endif %}
                                          <td>@{{ record.by_user }}</td>
                                            <td>
                                                {% if record.added_score >= 0 %}
                                                    <span class="badge badge-success">
                                                    +{{ record.added_score }} pt
                                                {% else %}
                                                    <span class="badge badge-danger">
                                                    {{ record.added_score }} pt
                                                {% endif %}
                                                </span>
                                            </td>
                                          <td>{{ record.op_time }}</td>
                                      </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>

                                <div style="display: flex; justify-content: space-between;">
                                    <h3 style="text-align: left; display: inline">
                                        <span class="badge badge-dark">{{ userprofile.username }}</span>
                                        <span class="badge badge-primary">{{ userprofile.score }} pt</span>
                                    </h3>
                                    <div style="text-align: right">
                                        <a href="{% url 'luck' %}" class="btn btn-outline-primary">我的呢</a>
                                        <button class="btn btn-outline-primary" id="share">Share</button>
                                        {% if user.username != userprofile.username %}
                                            <form class="form-horizontal" method="POST" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-outline-success">Help 「{{ userprofile.username }}」</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar"
                                         role="progressbar"
                                         style="width: {% widthratio userprofile.score activity.max_score 100%}%"
                                         aria-valuenow="{{ userprofile.score }}"
                                         aria-valuemin="0"
                                         aria-valuemax="{{ activity.max_score }}">
                                    </div>
                                </div>

                            </div>
                    </div>
                </div>
                <span class="col-md-3"></span>
            </div>
        </div>
    </div>
    <script>
        const btn = document.querySelector('#share');
        btn.addEventListener('click',() => {
            const input = document.createElement('input');
            document.body.appendChild(input);
            input.setAttribute('value', '{{ request.META.HTTP_HOST }}{% url 'share' userprofile.id %}');
            input.select();
            if (document.execCommand('copy')) {
                document.execCommand('copy');
                $('#toast').toast('show');
            }
            document.body.removeChild(input);
        })
    </script>
{% endblock %}
